.titlebar
    {
         width:960px;
         float:middle;
         margin:auto;
         height: 70px;
         padding: 0px;
         border-top:0px;
         background-color: #ffffff;
    }
.titlebox
   
    { 
         width: auto;
         height: 70px;
         float: left;
         width: 260px;
         margin: 0 auto;
         text-align: center;
         vertical-align: middle;
         background-color: #4aaaa5;
         font-family: Georgia, 'Times New Roman', Times, serif;
         color: #ffffff;
         padding:0px;
    }

.links
    {  
         margin-left: 15%;
         height: 70px;
         float:right;
         padding-top:35px;
         padding-right:20px;
         font-family: Arial, Helvetica, sans-serif;
         color: #777777;
         
        
        
    }
    
.outerbox

    {   
         background-image: url('../images/bg.png');
         background-color:#dddddd;
         border-top:#cccccc;
         border-top-style: solid;
         border-top-width: 4px;
         height: 52pc;
         border-bottom-style: solid;
         border-bottom:#4aaaa5;
         border-bottom-width: 4px;
         
         
    }

.innerbox
    {       
         margin: 0 auto;
         margin-top: 2.5pc;
         background-color:#ffffff;
         width: 960px;
         height: auto;
         border-style: solid;
         border-color:#dddddd;
         border-width: 3px;   
         line-height: 24px;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 14pt;
         overflow: auto;
         
        
    }

.footer
    {   
         width:100%;
         padding-top:25px;
         padding-bottom:4px;
         background:#666666;
         color:white;
         font-size:14px;
         position:fixed;    
         bottom:0;          
         left:0;            
         text-align:center; 
         border-top-style: solid;
         border-top-color:#4aaaa5;
         border-top-width: 8px;
         font-family: Arial, Helvetica, sans-serif;
    }

#me
    {
         float: left;
         padding-left: 15px;
         padding-right:15px;
         padding-bottom:auto;
         padding-top:7px;
    }
    
.text
    {
         text-align: left;
         font-family: Arial, Helvetica, sans-serif;
         font-display: 14pt;
         color:#777777;
         padding-left: 15px;
         padding-right:15px;
    }

.titles
    {
         font-family: 'Times New Roman', Times, serif;    
         color:#4aaaa5;
         padding-left:15px;
         padding-right:15px;
    }

.line
    {
         border:none;
         background-color: #dddddd;
         width: 96.5%;
         line-height: 5px;
    }

#img1
    {
         padding:20px;
         float:middle;
    }
#img2
    {
         padding:20px;
         float:middle;
    }
#img3
    {
         padding:20px;
         float:middle;
    }
#img4
    {
         padding:20px;
         float:middle;
    }
#img5
    {
         padding:20px;
         float:middle;
    }

a:link 
    {
         color: #777777;
         text-decoration: none;
    }

a:visited 
    {
         color:#666666;
         text-decoration: none;
    }

a:hover 
    {
         color:#4aaaa5;
         text-decoration: none;
    }

a:active 
    {
         color:hotpink;
         text-decoration: none;
    }

.centered 
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.container
    {   
        float: left;
        position: relative;
    }

.text-block 
{
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        bottom: 40px;
        right: 20px;
        background-color: #4aaaa5;
        color: white;
        padding-left: 0x;
        padding-right:0px;
        padding-bottom:50px;
        width: 300px;
        height: 1px;
        line-height: 4.5pt;
        text-align: center;
        float: left;
    }

.contacts
    {
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: #777777;
    }

#Name
    {
        width:99%;
    }

#Email
    {
        width:99%;
    }

#Message
    {
     height:200px;
     width:99%;
    }

#button
    {
        background-color: #4aaaa5;
        text-align: center;
        color:white;
        height: 20px;
        float: left;
        padding:10px;
        margin-bottom:10px;
    }